/* Layout da p�gina */
.page[b-sgdsa2vcpg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-sgdsa2vcpg] {
    flex: 1;
}

/* Sidebar */
.sidebar[b-sgdsa2vcpg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

/* Top Row (barra superior com o perfil) */
.top-row[b-sgdsa2vcpg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.5rem; /* Adiciona espa�amento interno para os itens */
}

    /* Estilos de links e bot�es na barra superior */
    .top-row a[b-sgdsa2vcpg],
    .top-row .btn-link[b-sgdsa2vcpg] {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row a:hover[b-sgdsa2vcpg],
        .top-row .btn-link:hover[b-sgdsa2vcpg] {
            text-decoration: underline;
        }

        .top-row a:first-child[b-sgdsa2vcpg] {
            overflow: hidden;
            text-overflow: ellipsis;
        }

/* Responsividade para telas pequenas */
@media (max-width: 640.98px) {
    .top-row[b-sgdsa2vcpg] {
        justify-content: space-between;
    }

        .top-row a[b-sgdsa2vcpg],
        .top-row .btn-link[b-sgdsa2vcpg] {
            margin-left: 0;
        }
}

/* Layout para telas m�dias e grandes */
@media (min-width: 641px) {
    .page[b-sgdsa2vcpg] {
        flex-direction: row;
    }

    .sidebar[b-sgdsa2vcpg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-sgdsa2vcpg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    /* Ajusta o padding no conte�do para telas maiores */
    .top-row[b-sgdsa2vcpg],
    article[b-sgdsa2vcpg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* Estilos para a imagem de perfil */
.profile-img[b-sgdsa2vcpg] {
    width: 2rem;
    height: 2rem;
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Garante que a imagem se ajuste bem ao tamanho */
}

/* Adicionando espa�amento no bot�o de perfil */
.top-row .dropdown-toggle[b-sgdsa2vcpg] {
    padding: 0.5rem 1rem;
    margin-left: 1rem; /* Espa�amento entre o �cone de perfil e o lado esquerdo */
}

/* Ajuste de estilo para o menu de dropdown */
.dropdown-menu[b-sgdsa2vcpg] {
    min-width: 150px; /* Define uma largura m�nima para o menu */
}
