/* Layout da página */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Sidebar */
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

/* Top Row (barra superior com o perfil) */
.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.5rem; /* Adiciona espaçamento interno para os itens */
}

    /* Estilos de links e botões na barra superior */
    .top-row a,
    .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row a:hover,
        .top-row .btn-link:hover {
            text-decoration: underline;
        }

        .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

/* Responsividade para telas pequenas */
@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row a,
        .top-row .btn-link {
            margin-left: 0;
        }
}

/* Layout para telas médias e grandes */
@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    /* Ajusta o padding no conteúdo para telas maiores */
    .top-row,
    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* Estilos para a imagem de perfil */
.profile-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Garante que a imagem se ajuste bem ao tamanho */
}

/* Adicionando espaçamento no botão de perfil */
.top-row .dropdown-toggle {
    padding: 0.5rem 1rem;
    margin-left: 1rem; /* Espaçamento entre o ícone de perfil e o lado esquerdo */
}

/* Ajuste de estilo para o menu de dropdown */
.dropdown-menu {
    min-width: 150px; /* Define uma largura mínima para o menu */
}
